# database init, supports mysql too,hsqldb
database: hsqldb
spring:
  datasource:
    schema: classpath*:db/${database}/schema.sql
    data: classpath*:db/${database}/data.sql
    initialize: true

# JPA
spring.jpa.hibernate.ddl-auto: none

# Internationalization
spring.messages.basename: messages/messages

# Actuator / Management
#management.contextPath: /manage
# Spring Boot 1.5 makes actuator secure by default
management.security.enabled: false   

# Logging
logging.level.org.springframework: INFO
# logging.level.org.springframework.web=DEBUG
# logging.level.org.springframework.context.annotation=TRACE
 
# eureka
eureka.client.serviceUrl.defaultZone: http://localhost:8761/eureka/
eureka.client.register-with-eureka: true

---
spring:
  profiles: docker

server:
  port: 8080
eureka:
  client:
     serviceUrl:
       defaultZone: http://eureka1:8761/eureka/,http://eureka2:8761/eureka/
     register-with-eureka: true
    
---
spring:
  profiles: ecs
  
  cloud:
    config:
      failFast: true
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 5000
        maxAttempts: 20
      discovery:
        #serviceId: config-server
        enabled: false
      uri: http://config.sasubmit.cc:8761/config
           
server:
  port: 8080   
   
eureka:
#  instance:
#    hostname: ${vcap.application.uris[0]:localhost}
#    nonSecurePort: 80
  client:
    serviceUrl:
      defaultZone: http://eureka.sasubmit.cc:8761/eureka/,http://eureka2.sasubmit.cc:8761/eureka/

---
spring:
  profiles: mysql
  datasource:
     url: jdbc:mysql://wordpress-db.cgzzat0mulrq.rds.cn-north-1.amazonaws.com.cn/petclinic
     username: wpadmin
     password: passw0rd
     initialize: false       
       
